.header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f3f7fa;
  padding: 20px 0px;
  flex-wrap: wrap;
}

.dropDown {
  margin-left: -10px;
}

.dropToggle {
  background: none !important;
  border: none;
  color: #27303f !important;
  font-family: "Inter";
  font-size: 22px;
  font-weight: 700;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropToggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.2em solid #97a6ba;
  border-right: 0.2em solid transparent;
  border-bottom: 0;
  border-left: 0.2em solid transparent;
  /* border-color: #97a6ba; */
}

.avatarDropToggle {
  background: none !important;
  border: none;
  padding: 0px !important;
  line-height: 0.8;
  border-radius: 8px;
  border: 2px solid #f3f7fa;
}

.avatarDropToggle:hover {
  border: 2px solid #b6cbe7;
}

.avatarDropToggle::after {
  display: inline-block;
  margin-left: 0.555em;
  vertical-align: 0.255em;
  content: "";
  margin-bottom: 0.9em;
  border-top: 0.3em solid #97a6ba;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transpare;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.bellButton {
  width: 43px;
  height: 43px;
  padding: 8px;
  border-radius: 8px;
}
