/******************* Default Start ******************/
.wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  min-height: 100vh;
}

.wrapper.toggled {
  padding-left: 250px;
}
.pageContentWrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

.wrapper.toggled .pageContentWrapper {
  position: absolute;
  margin-right: -250px;
}

.sidebarNav li {
  text-indent: 20px;
  line-height: 40px;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 270px;
  }

  .wrapper.toggled {
    padding-left: 0;
  }

  .pageContentWrapper {
    padding: 20px;
    position: relative;
  }

  .wrapper.toggled .pageContentWrapper {
    position: relative;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .pageContentWrapper {
    width: 100vw;
  }
  .subHeader {
    display: block !important;
  }
}

/******************* End Default ******************/

.title {
  font-size: 32px;
  font-weight: 700;
  font-family: "Inter";
  color: #27303f;
}

.interval {
  font-family: "Inter";
  font-weight: 600;
  font-size: 12px;
  color: #97a6ba;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 15px;
}

.subHeader {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}
/*********** Search Box **************/
.searchBox {
  background-color: #fff;
  width: 196px;
  height: 42px;
  box-shadow: 0px 12px 36px #e5edf2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.searchIcon {
  height: 48px;
}

.searchInput {
  width: 150px;
  outline: none;
  border: none;
  margin-bottom: 2px;
}

.searchInput::placeholder {
  font-size: 12px;
  bottom: 2px;
}

.filterBox {
  margin-left: auto;
  width: 179px;
  height: 42px;
  padding: 13px 12px 13px 18px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 12px 36px #e5edf2;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.filterBox p {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #27303f;
}

.dropBox {
  width: 324px;
  height: 283px;
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 36px rgb(121 142 157 / 17%);
  box-shadow: 0px 12px 36px rgb(121 142 157 / 17%);
  border-radius: 8px;
  margin-top: 50px;
  margin-left: 505px;
  position: absolute;
  display: -moz-box;
  display: flex;
  padding: 25px;
  display: none;
}

.show {
  display: flex !important;
}

.boxOne {
  width: 150px;
  height: 100%;
  border-right: 1px solid #e0e7f1;
}

.boxTwo {
  width: 174px;
  height: 100%;
  padding-left: 20px;
}

.cusButton {
  height: 42px;
  padding: 0px 10px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  box-shadow: 0px 12px 36px #e5edf2;
  cursor: pointer;
}

.cusButton p {
  margin-left: 5px;
  margin-bottom: 0px;
  color: #27303f;
  font-size: 12px;
  font-weight: 700;
}

.backYellow {
  background-color: #ffd954;
}

.cusButton.backYellow p {
  font-weight: 700;
}

.filterSet {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.filterSet.active {
  border-right: 3px solid #298cff;
}

.filterSet.active p {
  font-weight: 700;
}

.filterSet p {
  margin-bottom: 0px;
  font-size: 16px;
}

.filterApply {
  width: 100px;
  height: 34px;
  color: #fff;
  font-size: 12px;
  background-color: #2bc596;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-weight: 700;
  cursor: pointer;
}

.setDefault {
  width: 100px;
  height: 34px;
  color: #97a6ba;
  font-size: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-weight: 400;
  cursor: pointer;
}

.setDefault:hover {
  border: 1px solid #97a6ba;
}
/* 
.checkLabelIcon {
  margin-right: 5px !important;
} */

.formBox {
  /* display: flex; */
  margin-bottom: 15px;
}

.formBox span {
  margin-left: 10px;
  display: flex;
}

.formBox img {
  margin-right: 5px !important;
}

.checkAll {
  font-weight: 600;
}

.checkLabel {
  font-size: 14px !important;
}

.root {
  max-width: 1366;
  display: flex;
}
