/******************* Default Start ******************/
.wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper.toggled {
  padding-left: 250px;
}

.pageContentWrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

.wrapper.toggled .pageContentWrapper {
  position: absolute;
  margin-right: -250px;
}

.sidebarNav li {
  text-indent: 20px;
  line-height: 40px;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 270px;
  }

  .wrapper.toggled {
    padding-left: 0;
  }

  .pageContentWrapper {
    padding: 20px;
    position: relative;
  }

  .wrapper.toggled .pageContentWrapper {
    position: relative;
    margin-right: 0;
  }
}

/******************* End Default ******************/

.title {
  font-size: 32px;
  font-weight: 700;
  font-family: "Inter";
  color: #27303f;
}

.interval {
  font-family: "Inter";
  font-weight: 600;
  font-size: 12px;
  color: #97a6ba;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: 15px;
}

.subHeader {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
